[submodule "json/tree-sitter"]
	path = json/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter-json.git
[submodule "c/tree-sitter"]
	path = c/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter-c.git
