[submodule "json/tree-sitter"]
	path = grammars/tree-sitter-json
	url = https://github.com/tree-sitter/tree-sitter-json.git
[submodule "c/tree-sitter"]
	path = grammars/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c.git
[submodule "markdown/tree-sitter"]
	path = grammars/tree-sitter-markdown
	url = https://github.com/tree-sitter-grammars/tree-sitter-markdown
[submodule "grammars/tree-sitter-moonbit"]
	path = grammars/tree-sitter-moonbit
	url = https://github.com/moonbitlang/tree-sitter-moonbit
